<?xml version="1.0" encoding="utf-8"?>
<merge xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    tools:parentTag="RelativeLayout"
    android:paddingLeft="8dp"
    android:paddingRight="8dp"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:clipChildren="false"
    android:clipToPadding="false">
    <ImageView
        android:tint="?Secondary_Dark"
        android:src="@drawable/svg_chevron_down"
        android:layout_width="28dp"
        android:layout_height="28dp"
        android:background="?selectableItemBackgroundBorderless"
        android:id="@+id/Picker_MinusButton"
        android:layout_centerVertical="true" />
    <FrameLayout
        android:layout_width="52dp"
        android:layout_height="40dp"
        android:id="@+id/Picker_TextContainer"
        android:layout_marginLeft="2dp"
        android:layout_marginRight="2dp"
        android:layout_centerVertical="true"
        android:layout_toRightOf="@id/Picker_MinusButton">
        <TextView
            android:textColor="?Background_Text"
            android:id="@+id/Picker_ReadOnlyView"
            android:gravity="center"
            android:textSize="14dp"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:visibility="gone" />
        <EditText
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/Picker_EditView"
            android:textSize="14dp"
            android:theme="?TextInput_Theme"
            android:gravity="center"
            android:selectAllOnFocus="true"
            android:inputType="numberDecimal"
            android:paddingBottom="15dp"
            android:visibility="visible" />
        <ImageView
            android:src="@android:drawable/ic_menu_gallery"
            android:tint="?Background_Text"
            android:visibility="gone"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/Picker_ImageView" />
    </FrameLayout>
    <ImageView
        android:tint="?Secondary_Dark"
        android:src="@drawable/svg_chevron_up"
        android:layout_width="28dp"
        android:layout_height="28dp"
        android:background="?selectableItemBackgroundBorderless"
        android:id="@+id/Picker_PlusButton"
        android:layout_centerVertical="true"
        android:layout_toRightOf="@id/Picker_TextContainer" />
</merge>